# Environment
ENVIRONMENT=development

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_DB=clip_model_serving_development
POSTGRES_PORT=5432
ENABLE_SQL_ECHO=true
